<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADD CONTENT</title>
</head>

<body style="background-color: #eee;">
    <%-include('../layout.ejs')%>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="wrapper2">
                <div class="block-content">
                    <h2 class="text-center mt-5">ADD CONTENT</h2>
                    <%if(locals.errors){%>
                    <ul class="alert alert-danger">
                        <%Object.values(errors).forEach(function(error){%>
                        <li>
                            <%= error.msg%>
                        </li>
                        <%})%>
                    </ul>
                    <%}%>
                <form action="/content/add" method="post">
                    <div class="form-group">
                        <label for="">หัวข้อ :</label>
                        <input type="text" name="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">เนื้อหา :</label>
                        <textarea name="content" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">ชื่อผู้เขียน</label>
                        <input type="text" name="author" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="">วันที่ขียน :</label>
                    <input type="date" name="date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">ภาพปก :</label>
                    <input type="text" name="image" class="form-control">
                </div>
                <div class="grom-group mt-4">
                    <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> ADD CONTENT</button>
                </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>

    </div>

    <script type="text/javascript">
        CKEDITOR.replace('content');
    </script>
</body>

</html>