<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>

<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container">
        <a class="navbar-brand" href="/" style="font-family: 'Permanent Marker', cursive;">
            <img src="/images/iconfinder_icon-58_667369.png" width="30" height="30" class="d-inline-block align-top"
                alt="">
            Blog Travel
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%if(!locals.user){%>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">HOME <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">ABOUT</a>

            </div>
        </div>
       
        <div class="navbar-nav">
            <a href="/users/signin" class="nav-item nav-link active"> <i class="fas fa-sign-in-alt"></i> Sign In</a>
        </div>
        <%}%>
        <%if(locals.user){%>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">HOME <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/profile">MY CONTENT</a>
                <a class="nav-item nav-link" href="/content/add">ADD CONTENT</a>
                <a class="nav-item nav-link" href="#">ABOUT</a>
            </div>
        </div>
        
        <div class="navbar-nav">
            <a href="/users/signout" class="nav-item nav-link active"> <i class="fas fa-sign-out-alt"></i>Sign Out</a>

        </div>
        <%}%>
    </div>
</nav>